@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    width: 100%;
    min-height: 100vh;      
    display: flex;         
    align-items: center;    
    justify-content: center; 
    flex-direction: column;
    font-family: 'Figtree', sans-serif;

}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
#white-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 300px;
    padding: 1.4rem;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    gap: 15px;
}

#img-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px; 
}
#img-box img {
  max-width: 100%;
  border-radius: 10px;   
  height: auto;
  display: block;
}
#learning{
    background-color: hsl(47,88%,63%);
    text-transform: capitalize;
    max-width: fit-content;
    padding:8px;
    border-radius: 6px;
}
#description{
    font-size: 15px;
    color: hsl(0, 0%, 42%);
    font-weight: 500;
}
.same-color{
    color:hsl(0, 0%, 7%) ;
    font-weight: 800;
}
#profile img{
    height: 35px;
    width: auto;
}
#profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
